
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>One-Time Pad</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">One-Time Pad</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>One-Time Pad!</h1>
        <p>A free app for you and your allies to exchange secret battle plans.</p>
        <p><a class="btn btn-primary btn-lg" href="http://en.wikipedia.org/wiki/One-time_pad" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      

        <div class="row">
        <div class="col-md-8 alert alert-info" role="alert">Heads Up! This app uses all <a href="http://www.asciitable.com/">ASCII characters</a> so some ciphertext text may appear blank but it is not.  There are just hidden ASCII characters in the text-area.</div>
        </div>

        <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="comment">Plaintext/Ciphertext:</label>
            <textarea id="textarea1" class="form-control" rows="5" id="comment", placeholder="some text"></textarea>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="comment">Key:</label>
            <textarea id="textarea2" class="form-control" rows="5" id="comment", placeholder="Dr. Jensen Rules"></textarea>
          </div>
        </div>
      </div>

      <div clas="row">
        <div class="col-md-12" style="padding-left:0px; padding-bottom:15px">
          <button id="crypt_btn" type="button" class="btn btn-primary btn-lg">Encrypt/Decrypt</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="comment">Ciphertext/Plaintext:</label>
            <textarea id="textarea3" class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="comment">Unused Key:</label>
            <textarea id="textarea4" class="form-control" rows="5" id="comment"></textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <h3>HOW TO USE IT</h3>

        <p>
          <ol>
            <h5>Key Exchange</h5>
            <li>Generate a random key. You must do this yourself. The key should be at least as long as the message(s) you plan on sending.  The longer the better.</li>
            <li>In person, exchange the key with your ally (or allies).</li>
            <br>

            <h5>Encryption</h5>
            <li>Type a message (plaintext) that you want to encrypt in the first text-area.</li>
            <li>Insert your random key in the second text-area.</li>
            <li>Click the encrypt/decrypt button. The encrypted text will appear in the third text-area.</li>
            <li>If your message was shorter than your key, some of your key will be unsused. Save the unused portion of your key to encrypt/decrypt subsequent messages.</li>
            <br>

            <h5>Message Transfer</h5>
            <li>Send the encypted message to your ally over any channel (e.g. email).</li>
            <br>

            <h5>Decryption</h5>
            <li>Insert an encrypted message into the first text-area.</li>
            <li>Insert your random key in the second text-area.</li>
            <li>Click the encrypt/decrypt button.  The decrypted text will appear in the third text-area.</li>
            <li>If your message was shorter than your key, some of your key will be unsused. Save the unused portion of your key to encrypt/decrypt subsequent messages.</li>

          </ol>
        </p>

        <h3>HOW IT WORKS</h3>
        <p>This <a href="http://en.wikipedia.org/wiki/One-time_pad">one-time pad</a> was built using javascript so that all encryption/decryption is done locally (as opposed to data transferring to and from a server).</p>
      </div>

      <hr>

      <footer>
        <p>&copy; Gorman 2015</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      $(document).ready(function() {
        $("#textarea1").val('Attack at dawn!');
        $("#textarea2").val('Truly random secret key (at least as big as the message) here.');
      });

      $( "#crypt_btn" ).click(function() {
        var input = $("#textarea1").val();
        var key = $("#textarea2").val();
        var output = '';
        var mynum = 0;
        var mychar='';

        if(input.length > key.length){
          alert("Whoa there. Your key needs to be at least as many characters as your message.");
        } else{

          for (i=0; i < input.length; i++) {
            mynum = input[i].charCodeAt(0) ^ key[i].charCodeAt(0);
            mychar = String.fromCharCode(mynum);
            output = output + mychar;
          };

          var unused_key = key.substr(input.length);
          $("#textarea3").val(output);
          $("#textarea4").val(unused_key);

        };
      });

    </script>
  </body>
</html>
